body {  
    background-image: url("../images/DU_LOGO.jpg");

    background-repeat: no-repeat;
}

#train-table th,
td {
    display: inline-block;
    width: 20%;
}

.card-header{
    background-color: crimson;
    color:gold;
}
