.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    
.jumbotron {  
    background-color: crimson; 
    color: gold; 
}

#train-table th,
td {
    display: inline-block;
    width: 20%;
}

.card-header{
    background-color: crimson;
    color:gold;
}
